html,
body,
div {
  padding: 0;
  margin: 0;
}

.loading {
  width: 100vw;
  height: 100vh;

  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
}

.selectors {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.selectors button {
  padding: 5px 20px;
  background-color: #fff;
  border: none;
  border-radius: 30px;

  font-size: 20px;
  color: #212121;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  outline: none;
}