.about {
    flex-grow: 1;

    padding: 30px;
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

.name {
    padding-top: 30px;
}

.skills {
    display: inline-block;

    min-width: 48px;
    padding: 3px 10px;
    margin: 0 5px;
    border-radius: 5px;

    background-color: #6cf;

    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    list-style: none;
}